{% extends 'main/parent.html' %}

{% block childs %}
            <div class="item vacancy">
                <div class="salary item">
                    <h6>от 50000 руб.</h6>
                </div>
                <div class="title item">
                    <h5>Python Developer</h5>
                </div>
            </div>
          <div class="item vacancy">
                <div class="salary item">
                    <h6>от 40000 руб.</h6>
                </div>
                <div class="title item">
                    <h5>Python Junior</h5>
                </div>
            </div>
          <div class="item vacancy">
                <div class="salary item">
                    <h6>от 40000 руб.</h6>
                </div>
                <div class="title item">
                    <h5>Python Junior</h5>
                </div>
            </div>
{% endblock %}